*
!acceptance/config/
!acceptance/files/
!acceptance/lib/
!acceptance/setup
!acceptance/tests
!bolt-modules/
!config
!developer-docs/
!exe
!lib
!libexec
!locales
!modules/canary
!modules/aggregate
!modules/puppetdb_fact
!pre-docs
!resources
!scripts
!spec
spec/reports/
spec/examples.txt
spec/fixtures/configs/debug.log

# Top level files
!appveyor.yml
!bolt.gemspec
!ci.ps1
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!docker-compose.yml
!Dockerfile
!.dockerignore
!Gemfile
!LICENSE
!locales
!Puppetfile
!Rakefile
!README.md
!.rspec
!.rubocop.yml
!.travis.yml
!Vagrantfile
