# See https://www.appveyor.com/docs/lang/ruby/
image:
# Windows Server 2012R2
- Visual Studio 2013
# Windows Server 2016
- Visual Studio 2017
version: 0.1.0.{build}-{branch}
cache:
  - .bundle

matrix:
  fast_finish: true

environment:
  BOLT_WINRM_USER: roddypiper
  BOLT_WINRM_HOST: localhost
  BOLT_WINRM_PORT: 5985
  matrix:
    - RUBY_VERSION: 200
    - RUBY_VERSION: 24

init:
- ps: |
    if (($ENV:APPVEYOR_BUILD_WORKER_IMAGE -eq 'Visual Studio 2013') -and ($PSVersionTable.PSVersion -gt [Version]'5.0.0'))
    {
      Get-Hotfix
      Write-Output "Uninstalling WMF5.1...";
      # uninstall the WMF5.1 package on 2012R2
      # wusa /uninstall /kb:3191564
      Write-Output "Uninstalling WMF5...";
      Start-Process 'wusa.exe' -ArgumentList @('/uninstall', '/kb:3134758', '/norestart') -Wait
      # uninstall the WMF5 package on 2012R2

      Write-Output "Restarting worker in 5 seconds...";
      # install the orginal Windows Feature
      # Install-WindowsFeature
      Start-Sleep -Seconds 5
      Restart-Computer -Force -Confirm:$false;
    }

install:
  - timeout 6
  - set PATH=C:\Ruby%RUBY_VERSION%\bin;%PATH%
  - git submodule update --init --recursive
  - bundle config --local path .bundle
  - bundle install --jobs 3 --retry 3

build: off

before_test:
  - ps: |
      $PSVersionTable
      # if (($ENV:APPVEYOR_BUILD_WORKER_IMAGE -eq 'Visual Studio 2013') -and ($PSVersionTable.PSVersion -gt [Version]'5.0.0'))
      # {
      #   # pray
      #   $PSVersionTable
      #   # throw "Expecting Visual Studio 2013 image to have PowerShell version < 5"
      # }
      ruby -v
      gem -v
      bundle -v
      type Gemfile.lock
      $computer = [ADSI]"WinNT://."
      $user = $computer.Create('user', $ENV:BOLT_WINRM_USER)
      Add-Type -AssemblyName System.Web
      $ENV:BOLT_WINRM_PASSWORD = [System.Web.Security.Membership]::GeneratePassword(10, 3)
      $user.SetPassword($ENV:BOLT_WINRM_PASSWORD)
      $user.SetInfo()
      $group = [ADSI]"WinNT://./Remote Management Users,group"
      # cannot use '.' for host in the user path per
      # https://stackoverflow.com/questions/20286306/error-while-adding-a-local-group-to-local-user-using-powershell
      $group.Add("WinNT://$ENV:COMPUTERNAME/$ENV:BOLT_WINRM_USER,user")

test_script:
  - bundle exec rake appveyor
