<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the DITA Open Toolkit project.

Copyright 2011 Jarno Elovirta

See the accompanying LICENSE file for applicable license.
-->
<plugin id="org.dita.htmlhelp" version="3.3.3">
  <!-- extension points -->
  <extension-point id="dita.xsl.htmlhelp.map2hhp" name="HTML Help project XSLT import"/>
  <extension-point id="dita.xsl.htmlhelp.map2hhc" name="HTML Help content XSLT import"/>
  <!-- extensions -->
  <transtype name="htmlhelp" extends="base-html" desc="Microsoft Compiled HTML Help">
    <param name="args.htmlhelp.includefile" desc="Specifies the name of a file that you want included in the HTML Help." type="file"/>
  </transtype>
  <require plugin="org.dita.xhtml"/>
  <feature extension="ant.import" file="build_dita2htmlhelp.xml"/>
  <feature extension="dita.conductor.lib.import" file="lib/htmlhelp.jar"/>
  <feature extension="dita.xsl.messages" file="resource/messages.xml"/>
  <template file="xsl/map2hhc_template.xsl"/>
  <template file="xsl/map2hhp_template.xsl"/>
  <template file="build_dita2htmlhelp_template.xml"/>
</plugin>
