<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the DITA Open Toolkit project.
See the accompanying LICENSE file for applicable license.
-->
<plugin id="org.oasis-open.dita.v1_2" version="1.2">
  <feature extension="dita.specialization.catalog.relative" file="catalog.xml"/>
</plugin>
