[Unit]
Description=PE Bolt Server
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/puppetlabs/bolt-server/bolt-server.pid
User=pe-bolt-server
Group=pe-bolt-server
EnvironmentFile=-/etc/sysconfig/pe-bolt-server-service
EnvironmentFile=-/etc/default/pe-bolt-server-service
Environment=GEM_HOME=/opt/puppetlabs/server/apps/bolt-server/lib/ruby/gems/2.4.0
ExecStart=/opt/puppetlabs/server/apps/bolt-server/bin/bolt-server /opt/puppetlabs/server/apps/bolt-server/config.ru
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
