// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
// Color from Puppet branding
$header-bg-color: #222 !default;
$header-bg-color-secondary: #222 !default;

// Text
$section-headings-color: #222 !default;
$body-text-color: #222222 !default;
$body-link-color: #149380 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Backgrounds
$sidebar-background: #F5F4F2 !default;

// Button
$button-text-color: #fff !default;
$button-bg-color: $body-link-color !default;