---
---
@import "modified-cayman";

.page-header {
  display: none;
}

.bolt-logo {
  height: 2rem;
  margin-right: 0.5rem;
}

.sidebar {
  padding: 2rem;
  background: $sidebar-background;
  grid-area: sidebar;
}

.main-content {
  margin: 0;
  grid-area: content;
}

.main-content h1:first-of-type img {
  height: 2rem;

  @include large {
    display: none;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "content" "sidebar";
  width: 100%;
  max-width: 100rem;

  @include large {
    grid-template-columns: 20rem auto;
    grid-template-areas: "sidebar content";
  }
}

.nav-list {
  list-style: none;

  padding: 0px;
}

.nav-list > li {
  margin-bottom: 1rem;
}

.nav-header {
  font-weight: bold;
  color: $body-text-color;
}
