/*!
 * This file is part of the DITA Open Toolkit project. 
 *
 * Copyright 2004, 2005 IBM Corporation
 *
 * See the accompanying LICENSE file for applicable license.
 */
.hazardstatement td,
.hazardstatement th {
  padding: 0.5rem;
}

.hazardstatement th {
  text-align: center;
  text-transform: uppercase;
}

.hazardstatement--caution {
  background-color: #ffd100;
}

.hazardstatement--danger {
  background-color: #c8102e;
  color: #fff;
}

.hazardstatement--warning {
  background-color: #ff8200;
}

.hazardstatement--attention, .hazardstatement--fastpath, .hazardstatement--important, .hazardstatement--note, .hazardstatement--notice, .hazardstatement--other, .hazardstatement--remember, .hazardstatement--restriction, .hazardstatement--tip {
  background-color: #0072ce;
  color: #fff;
  font-style: italic;
}

.codeblock {
  font-family: monospace;
}

.codeph {
  font-family: monospace;
}

.kwd {
  font-weight: bold;
}

.parmname {
  font-weight: bold;
}

.var {
  font-style: italic;
}

.filepath {
  font-family: monospace;
}

.tasklabel {
  font-size: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.screen {
  background-color: #ccc;
  border: outset;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 5px;
  white-space: pre;
}

.wintitle {
  font-weight: bold;
}

.numcharref {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.parameterentity {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.textentity {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.xmlatt {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.xmlelement {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.xmlnsname {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.xmlpi {
  color: #639;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.frame-top {
  border-top: solid 1px;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.frame-bottom {
  border-top: 0;
  border-right: 0;
  border-bottom: solid 1px;
  border-left: 0;
}

.frame-topbot {
  border-top: solid 1px;
  border-right: 0;
  border-bottom: solid 1px;
  border-left: 0;
}

.frame-all {
  border: solid 1px;
}

.frame-sides {
  border-top: 0;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: 0;
}

.frame-none {
  border: 0;
}

.scale-50 {
  font-size: 50%;
}

.scale-60 {
  font-size: 60%;
}

.scale-70 {
  font-size: 70%;
}

.scale-80 {
  font-size: 80%;
}

.scale-90 {
  font-size: 90%;
}

.scale-100 {
  font-size: 100%;
}

.scale-110 {
  font-size: 110%;
}

.scale-120 {
  font-size: 120%;
}

.scale-140 {
  font-size: 140%;
}

.scale-160 {
  font-size: 160%;
}

.scale-180 {
  font-size: 180%;
}

.scale-200 {
  font-size: 200%;
}

.expanse-page, .expanse-spread {
  width: 100%;
}

.fig {
  /* Default of italics to set apart figure captions */
  /* Use @frame to create frames on figures */
}

.figcap {
  font-style: italic;
}

.figdesc {
  font-style: normal;
}

.figborder {
  border-color: Silver;
  border-style: solid;
  border-width: 2px;
  margin-top: 1em;
  padding-left: 3px;
  padding-right: 3px;
}

.figsides {
  border-color: Silver;
  border-left: 2px solid;
  border-right: 2px solid;
  margin-top: 1em;
  padding-left: 3px;
  padding-right: 3px;
}

.figtop {
  border-color: Silver;
  border-top: 2px solid;
  margin-top: 1em;
}

.figbottom {
  border-bottom: 2px solid;
  border-color: Silver;
}

.figtopbot {
  border-bottom: 2px solid;
  border-color: Silver;
  border-top: 2px solid;
  margin-top: 1em;
}

/* Align images based on @align on topic/image */
div.imageleft {
  text-align: left;
}

div.imagecenter {
  text-align: center;
}

div.imageright {
  text-align: right;
}

div.imagejustify {
  text-align: justify;
}

/* Set heading sizes, getting smaller for deeper nesting */
.topictitle1 {
  font-size: 1.34em;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.topictitle2 {
  font-size: 1.17em;
  margin-bottom: 0.45em;
  margin-top: 1pc;
}

.topictitle3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.17em;
  margin-top: 1pc;
}

.topictitle4 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 0.83em;
}

.topictitle5 {
  font-size: 1.17em;
  font-weight: bold;
}

.topictitle6 {
  font-size: 1.17em;
  font-style: italic;
}

.sectiontitle {
  color: #000;
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1em;
}

.section {
  margin-bottom: 1em;
  margin-top: 1em;
}

.example {
  margin-bottom: 1em;
  margin-top: 1em;
}

/* Most link groups are created with <div>. Ensure they have space before and after. */
.ullinks {
  list-style-type: none;
}

.ulchildlink {
  margin-bottom: 1em;
  margin-top: 1em;
}

.olchildlink {
  margin-bottom: 1em;
  margin-top: 1em;
}

.linklist {
  margin-bottom: 1em;
}

ul.linklist {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

li.linklist {
  margin-top: 0;
  margin-bottom: 0;
}

.linklistwithchild {
  margin-bottom: 1em;
  margin-left: 1.5em;
}

.sublinklist {
  margin-bottom: 1em;
  margin-left: 1.5em;
}

.relconcepts {
  margin-bottom: 1em;
  margin-top: 1em;
}

.reltasks {
  margin-bottom: 1em;
  margin-top: 1em;
}

.relref {
  margin-bottom: 1em;
  margin-top: 1em;
}

.relinfo {
  margin-bottom: 1em;
  margin-top: 1em;
}

.breadcrumb {
  font-size: smaller;
  margin-bottom: 1em;
}

/* Simple lists do not get a bullet */
ul.simple {
  list-style-type: none;
}

/* Default of bold for definition list terms */
.dlterm {
  font-weight: bold;
}

/* Use CSS to expand lists with @compact="no" */
.dltermexpand {
  font-weight: bold;
  margin-top: 1em;
}

*[compact="yes"] > li {
  margin-top: 0;
}

*[compact="no"] > li {
  margin-top: 0.53em;
}

.liexpand {
  margin-bottom: 1em;
  margin-top: 1em;
}

.sliexpand {
  margin-bottom: 1em;
  margin-top: 1em;
}

.dlexpand {
  margin-bottom: 1em;
  margin-top: 1em;
}

.ddexpand {
  margin-bottom: 1em;
  margin-top: 1em;
}

.stepexpand {
  margin-bottom: 1em;
  margin-top: 1em;
}

.substepexpand {
  margin-bottom: 1em;
  margin-top: 1em;
}

dt.prereq {
  margin-left: 20px;
}

/* All note formats have the same default presentation */
.note {
  margin-bottom: 1em;
  margin-top: 1em;
}

.note .notetitle, .note .notelisttitle,
.note .note__title {
  font-weight: bold;
}

/* Various basic phrase styles */
.bold {
  font-weight: bold;
}

.bolditalic {
  font-style: italic;
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underlined {
  text-decoration: underline;
}

.uicontrol {
  font-weight: bold;
}

.defkwd {
  font-weight: bold;
  text-decoration: underline;
}

.shortcut {
  text-decoration: underline;
}

.menucascade > abbr {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

table .desc {
  display: block;
  font-style: italic;
}

.cellrowborder {
  border-bottom: solid 1px;
  border-left: 0;
  border-right: solid 1px;
  border-top: 0;
}

.row-nocellborder {
  border-bottom: solid 1px;
  border-left: 0;
  border-top: 0;
}

.cell-norowborder {
  border-left: 0;
  border-right: solid 1px;
  border-top: 0;
}

.nocellnorowborder {
  border: 0;
}

.firstcol {
  font-weight: bold;
}

.table--pgwide-1 {
  width: 100%;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.align-char {
  text-align: char;
}

.valign-top {
  vertical-align: top;
}

.valign-bottom {
  vertical-align: bottom;
}

.valign-middle {
  vertical-align: middle;
}

.colsep-0 {
  border-right: 0;
}

.colsep-1 {
  border-right: 1px solid;
}

.rowsep-0 {
  border-bottom: 0;
}

.rowsep-1 {
  border-bottom: 1px solid;
}

.stentry {
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.stentry:last-child {
  border-right: 0;
}

.strow:last-child .stentry {
  border-bottom: 0;
}

/* Add space for top level topics */
.nested0 {
  margin-top: 1em;
}

/* div with class=p is used for paragraphs that contain blocks, to keep the XHTML valid */
.p {
  margin-top: 1em;
}
