/* DITA Open Toolkit documentation style */

/****************************************
Basic fonts and typography
****************************************/

body {
  background-color: white;
  background-image: -webkit-linear-gradient(left, #eee 0%, #fff 300px); /* Chrome10+,Safari5.1+ */
  background-image:    -moz-linear-gradient(left, #eee 0%, #fff 300px); /* FF3.6+ */
  background-image:         linear-gradient(left, #eee 0%, #fff 300px); /* W3C */
  color: #212529;
  margin: 0;
  padding: 1em;
}

/* ↓ header-coderef ↓ */
.header {
  font-size: 18pt;
  margin: 0;
  padding: 0 12px;
}

.header p {
  color: #1d365d;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.3;
  margin: 0;
}

.header hr {
  border: 0;
  border-bottom: 1px solid #eee;
  height: 0;
}
/* ↑ end-header-ref ↑ */

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

code,
pre,
samp,
.cmdname,
.codeph,
.filepath,
.msgnum,
.option,
.parmname {
  color: #6c757d;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 90%;
}

.codeblock .cmdname,
.codeblock .filepath,
.codeblock .msgnum,
.codeblock .option,
.codeblock .parmname,
.codeblock .varname,
pre code {
  font-size: inherit;
}

/****************************************
Headings
****************************************/

h1,
h2,
h3 {
  color: #1d365d;
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  padding: 0;
}

h1 .filepath,
h2 .filepath,
h3 .filepath {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 .filepath {
  color: #1d365d;
}

.sectiontitle {
  color: #1d365d;
  font-weight: bold;
}

.topictitle1 {
  margin-top: 1em;
}

/****************************************
Basic identation, padding, and margins
****************************************/

main {
  margin-left: 300px;
}

blockquote,
li,
p {
  line-height: 125%;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.75em;
  padding: 0;
}

dd {
  line-height: 125%;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

dl {
  line-height: 125%;
  margin-bottom: 0.75em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0.75em;
  padding: 0;
}

ol,
ul {
  margin-bottom: 0.75em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0.75em;
  padding: 0;
}

pre {
  margin: 10px 0;
  padding: 0;
}

/****************************************
Block elements
****************************************/

.codeblock,
.screen {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
}

/****************************************
Figures
****************************************/

figcaption {
  font-style: italic;
}

/****************************************
In-line elements
****************************************/

.cmdname,
.msgnum {
  font-weight: bold;
}

/****************************************
Links
****************************************/

a:link {
  color: #3563ab;
  text-decoration: none;
}

a:visited {
  color: #3563ab;
}

a:active,
a:hover {
  color: #1d365d;
  text-decoration: underline;
}

.related-links {
  color: #555;
}

.linklist {
  margin-top: 1em;
}

/****************************************
Notes
****************************************/

.note {
  line-height: 125%;
  margin-left: 2em;
  margin-right: 0;
  padding: 0;
}

.caution,
.notelisttitle,
.note__title {
  font-weight: bold;
}

/****************************************
Tables
****************************************/

table,
.table {
  border-color: #dee2e6;
  border-style: solid;
  border-width: 1px;
  font-size: 90%;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0.5rem;
}

tr {
  border-color: #dee2e6;
  padding: 0.5rem;
}

td {
  border-color: #dee2e6;
  padding: 0.5rem;
}

th {
  background-color: #f5f5f5;
  padding: 0.5rem;
  text-align: left;
}

caption,
figcaption {
  color: #6c757d;
  padding: 1em 0;
  text-align: left;
}

/****************************************
Navigation
****************************************/

/* ↓ nav-coderef ↓ */
nav[role=toc] {
  float: left;
  width: 300px;
}

nav[role=toc] li.active > a {
  font-weight: bold;
}
/* ↑ end-nav-ref ↑ */

nav[role=toc] > ul {
  margin-right: 2em;
}

nav[role=toc] > ul li {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

nav[role=toc] > ul > li ul {
  margin-bottom: 0.5em;
  margin-left: 1.2em;
  margin-top: 0.5em;
}
