name: Linting

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    paths:
      - .github/workflows/lint.yaml
      - '**.rb'

jobs:

  rubocop:
    name: Rubocop
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: Install rubocop
        run: |
          gem install rubocop --version 1.9.1
          gem install rubocop-rake
      - name: Run rubocop
        run: rubocop --display-cop-names --display-style-guide --parallel
