name: pwsh

on:
  push:
    branches: [master]
    paths: ['pwsh_module/*']
  pull_request:
    type: [opened, reopened, edited]
    paths: ['pwsh_module/*', 'lib/bolt/bolt_option_parser.rb', 'rakelib/pwsh.rake']

jobs:

  test:
    name: Test Generated PowerShell Cmdlets
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7.x
      - name: Install bundler
        run: |
          gem install bundler
          bundle config path vendor/bundle
      - name: Cache gems
        id: cache
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('lib/bolt/version.rb') }}-${{ hashFiles('Gemfile') }}-${{ hashFiles('bolt.gemspec') }}
      - name: Install gems
        if: steps.cache.outputs.cache-hit != 'true'
        run: bundle install --jobs 4 --retry 3
      - name: Install Pester
        shell: pwsh
        run: |
          Install-Module -Name Pester -Force
      - name: Generate PowerShell Cmdlets
        run: |
          bundle exec rake pwsh:generate_module
      - name: Run Pester
        shell: pwsh
        run: |
          Invoke-Pester -Path ./pwsh_module -CI
