name: pwsh

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    paths:
      - .github/workflows/pwsh.yaml
      - pwsh_module/*
      - lib/bolt/bolt_option_parser.rb
      - rakelib/pwsh.rake

jobs:

  test:
    name: Test Generated PowerShell Cmdlets
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: Update gems
        run: bundle update
      - name: Install Pester
        run: Install-Module -Name Pester -Force
      - name: Generate PowerShell Cmdlets
        run: bundle exec rake pwsh:generate_module
      - name: Run Pester
        run: Invoke-Pester -Path ./pwsh_module -CI
